<svg
  class="sort-icon"
  (click)="click($event)"
  fill="currentColor"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
  title="Sort Options"
>
  <path
    d="M3,17V19H9V17H3M3,5V7H13V5H3M13,21V19H21V17H13V15H11V21H13M7,9V11H3V13H7V15H9V9H7M21,13V11H11V13H21M15,9H17V5H21V3H17V1H15V9Z"
  />
</svg>
<div
  style="visibility: hidden; position: fixed"
  [style.left.px]="menuTopLeftPosition.x"
  [style.top.px]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu"
></div>
<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <ng-container *ngFor="let sortType of sortTypes">
      <app-sort-item [sortType]="sortType"></app-sort-item>
    </ng-container>
  </ng-template>
</mat-menu>
