.sort-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: #aaa;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-icon:hover {
  transform: scale(1.1);
  color: #fff;
}
